/* Painel branco (já existente) */
.painel-branco {
    -fx-background-color: #e6eef9;
    -fx-background-radius: 10;
    -fx-padding: 20;
}

.cabecalho-imagem {
    -fx-fit-height: 60px;
    -fx-preserve-ratio: true;
}

.cabecalho-box {
    -fx-alignment: center;
    -fx-spacing: 10px;
}

.cabecalho-titulo {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #001727;
}

.cabecalho-separador-vertical {
    -fx-background-color: black;
    -fx-pref-width: 2px;
    -fx-min-width: 2px;
    -fx-max-width: 2px;
    -fx-min-height: 60px;
    -fx-pref-height: 60px;
}

.cabecalho-separador-horizontal {
    -fx-background-color: black;
    -fx-pref-height: 2px;
    -fx-min-height: 2px;
    -fx-max-height: 2px;
    -fx-pref-width: 100%;
}

/* Texto central do meio */
.label-destaque {
    -fx-font-size: 72px;
    /*-fx-font-weight: bold;*/
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0.3, 2, 2);
}
